.comment-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input-comentario {
    width: 100%;
    margin-right: 5px;
}

button {
    background: #660033;
    color: white;
    border: none;
    border-radius: 2px;
}