.share-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:30px;
    width:  6em;
    align-self: flex-end;
}

.social-icon{
    margin-right:0.3em;
    height: 1.4em;

}