* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0080ff;
    color: #003380;
    font-size:25px ;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    background-color: #99c2ff ;
    color: #003380;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 5px;
}
#tarefa{
    height: 5vh;
    width: 25%;
    background-color:  blue;

}

#dias-semana{
    height: 5vh;
    width: 40%;
    background-color:  blue;


}

button{
    height: 5vh;
    width: 10%;
    background-color:  blue;

}